<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body">
              <fieldset class="border-top">
                <legend><span class="text">Datos principales</span></legend>
                <dl class="dl-horizontal left" data-ng-if="view.credito.socio.personaNatural">
                  <dt>Codigo pais:</dt>
                  <dd data-ng-bind="view.credito.socio.personaNatural.codigoPais"></dd>
                  <dt>Documento:</dt>
                  <dd data-ng-bind-template="{{view.credito.socio.personaNatural.tipoDocumento.abreviatura}}/{{view.credito.socio.personaNatural.numeroDocumento}}"></dd>
                  <dt>Apellidos:</dt>
                  <dd data-ng-bind-template="{{view.credito.socio.personaNatural.apellidoPaterno}}&nbsp;{{view.credito.socio.personaNatural.apellidoMaterno}}"></dd>
                  <dt>Nombres:</dt>
                  <dd data-ng-bind="view.credito.socio.personaNatural.nombres"></dd>
                  <dt>Fecha de nacimiento:</dt>
                  <dd data-ng-bind="view.credito.socio.personaNatural.fechaNacimiento | date : 'dd/MM/yyyy'"></dd>
                  <dt>Sexo:</dt>
                  <dd data-ng-bind="view.credito.socio.personaNatural.sexo"></dd>
                  <dt>Estado civil:</dt>
                  <dd data-ng-if="view.credito.socio.personaNatural.estadoCivil" data-ng-bind="view.credito.socio.personaNatural.estadoCivil"></dd>
                  <dd data-ng-if="!view.credito.socio.personaNatural.estadoCivil"><em>No registrado</em></dd>
                </dl>
                <dl class="dl-horizontal left" data-ng-if="view.credito.socio.personaJuridica">
                  <dt>Documento:</dt>
                  <dd data-ng-bind-template="{{view.credito.socio.personaJuridica.tipoDocumento.abreviatura}}/{{view.credito.socio.personaJuridica.numeroDocumento}}"></dd>
                  <dt>Razon socila:</dt>
                  <dd data-ng-bind="view.credito.socio.personaJuridica.razonSocial"></dd>
                  <dt>Fecha constitucion:</dt>
                  <dd data-ng-bind="view.credito.socio.personaJuridica.fechaConstitucion | date : 'dd/MM/yyyy'"></dd>
                </dl>
              </fieldset>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <fieldset class="border-top">
              <legend><span class="text">Credito</span></legend>
              <dl class="dl-horizontal left">
                <dt>Moneda:</dt>
                <dd data-ng-bind="view.credito.moneda.denominacion"></dd>
                <dt>Monto:</dt>
                <dd data-ng-bind="view.credito.monto | number : 2"></dd>
                <dt>Interes:</dt>
                <dd data-ng-bind="view.credito.interes | number : 2"></dd>

                <dt>Fecha desembolso:</dt>
                <dd data-ng-bind="view.credito.fechaCreacion | date : 'dd/MM/yyyy'"></dd>
                <dt>Fecha vencimiento:</dt>
                <dd data-ng-bind="view.credito.fechaLimitePago | date : 'dd/MM/yyyy'"></dd>

                <dt>Estado:</dt>
                <dd data-ng-bind="view.credito.estado"></dd>
              </dl>
            </fieldset>
          </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
              <fieldset class="border-top">
                <legend><span class="text">Historial de pagos</span></legend>
                <table class="table table-striped table-bordered table-condensed">
                  <caption data-ng-show="!view.historiales.length">No se encontraron pagos.</caption>
                  <thead data-ng-show="view.historiales.length">
                  <tr>
                    <th>#</th>
                    <th>Monto</th>
                    <th>Fecha</th>
                    <th>Operacion</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr data-ng-repeat="item in view.historiales">
                    <td><span data-ng-bind="$index+1"></span></td>
                    <td>
                      <span ng-bind="item.monto | currency: ''"></span>
                    </td>
                    <td><span ng-bind="item.fecha | date: 'dd/MM/yyyy'"></span></td>
                    <td style="text-align: center;">
                      <button type="button" data-ng-click="imprimir(item)" class="btn btn-info btn-xs">
                        <i class="pficon pficon-print"></i><span>&nbsp;Imprimir</span>
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </fieldset>
            </div>
        </div>
    </div>
</div>
