<h1><strong>Realizar compra venta de moneda extrangera</strong></h1>

<form name="form" class="form-horizontal" novalidate>
  <div class="form-group" ng-class="{ 'has-error' : form.cliente.$invalid && form.$submitted}">
    <label class="col-sm-2 control-label"><span class="required">*</span> Cliente:</label>
    <div class="col-sm-3">
      <input type="text" name="cliente" ng-model="view.transaccion.cliente" ng-maxlength="100" pf-focused="true" autofocus class="form-control"/>
      <div ng-messages="form.cliente.$error" ng-if="form.$submitted">
        <div class="has-error" ng-message="maxlength">Maximo 100 caracteres.</div>
      </div>
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-error' : form.operacion.$invalid && form.$submitted}">
    <label class="col-sm-2 control-label"><span class="required">*</span> Operacion:</label>
    <div class="col-sm-3">
      <ui-select name="operacion" ng-model="combo.selected.operacion" required>
        <ui-select-match placeholder="Operacion">{{$select.selected.denominacion}}</ui-select-match>
        <ui-select-choices group-by="combo.groupFn" repeat="item in combo.operacion | filter: $select.search">
          <div ng-bind-html="item.denominacion | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
      <div ng-messages="form.operacion.$error" ng-if="form.operacion.$dirty || form.$submitted">
        <div class="has-error" ng-message="required">Ingrese operacion.</div>
      </div>
    </div>
    <div class="col-sm-7">
      <div class="btn-group">
        <label class="btn btn-success" ng-model="combo.selected.operacion" btn-radio="combo.operacion[0]">$ COMPRA DOLAR</label>
        <label class="btn btn-success" ng-model="combo.selected.operacion" btn-radio="combo.operacion[1]">$ VENTA DOLAR</label>
      </div>
      <div class="btn-group">
        <label class="btn btn-danger" ng-model="combo.selected.operacion" btn-radio="combo.operacion[2]">&#8364; COMPRA EURO</label>
        <label class="btn btn-danger" ng-model="combo.selected.operacion" btn-radio="combo.operacion[3]">&#8364; VENTA EURO</label>
      </div>
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-error' : form.tipoCambio.$invalid && form.$submitted}">
    <label class="col-sm-2 control-label"><span class="required">*</span> Tipo cambio:</label>
    <div class="col-sm-3" data-ng-if="!access.login">
      <span style="font-size: 15px;"><strong data-ng-bind="view.transaccion.tipoCambio | number : 3"></strong></span>
    </div>
    <div class="col-sm-3" data-ng-if="access.login">
      <input type="text" name="tipoCambio" ng-model="view.transaccion.tipoCambio" class="form-control"
             ui-number-mask="3" min="0" max="100"
             ng-minlength="1" ng-maxlength="10"
             placeholder="0.000" required/>
      <div ng-messages="form.tipoCambio.$error" ng-if="form.$submitted">
        <div class="has-error" ng-message="required">Ingrese tipo de cambio.</div>
        <div class="has-error" ng-message="maxlength">Maximo 100 caracteres.</div>
      </div>
    </div>
    <div class="col-sm-7">
      <a href="" data-ng-click="login()" class="btn btn-link">Editar</a>
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-error' : form.monto.$invalid && form.$submitted}">
    <label class="col-sm-2 control-label"><span class="required">*</span> Monto:</label>
    <div class="col-sm-3">
      <input type="text" name="monto" ng-model="view.transaccion.monto" class="form-control" ng-model="item.cantidad"
             ui-number-mask="2" min="0" max="999999999"
             ng-minlength="1" ng-maxlength="10"
             placeholder="0.00" required/>
      <div ng-messages="form.monto.$error" ng-if="form.$submitted">
        <div class="has-error" ng-message="required">Ingrese monto.</div>
        <div class="has-error" ng-message="maxlength">Maximo 100 caracteres.</div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button sg-save data-ng-disabled="changed">Guardar</button>
      <button sg-cancel ui-sref="^.buscar" data-ng-disabled="changed">Cancelar</button>
      <div class="spinner spinner-inline" data-ng-show="changed" style="vertical-align: middle;"></div>
    </div>
  </div>

</form>

